/*=======================
        General
=======================*/
html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #233141;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #f1f2f4;
}






footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:65px;
    width:100%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
    margin: 24px 0;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
}

a {
}

.clear {
    clear: both;
    float: none;
}

.down-menu li a.custom_order {
    background-color: #ff9842;
    color: #fff;
    border-radius: 15px;
}

a.custom_order.order_dashboard {
    background-color: #ff9842;
    color: #fff;
    padding: 15px;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

::-webkit-input-placeholder {
    color: #111;
}

:-moz-placeholder { /* Firefox 18- */
    color: #111;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #111;
}

:-ms-input-placeholder {
    color: #111;
}

.container {
    max-width: 1200px;
    width: auto;
}

/* Loading Screen */
#wrapper {
    position: relative;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

iframe {
    max-width: 100%;
    vertical-align: top;
    border: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    color: #4b4b4b;
    line-height: 25px;
    margin: 0 0 20px;
}

.body {
    background-color: #f1f2f4;
    position: relative;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #009cd7;
}

header {
    background-color: #fff;
}

.img {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.img a {
    display: inline-block;
    width: auto;
    float: left;
    padding-left: 15px;
}

.right-text {
    float: right;
    display: inline-block;
    padding-top: 34px;
    padding-right: 15px;
}

.right-text p {
    margin-bottom: 0;
}

@media only screen and (max-width: 630px) {
    .right-text {
        float: left;
        display: inline-block;
        padding-top: 0;
        padding-left: 15px;
    }
}

.right-text p a {
    display: inline-block;
    float: right;
}

.img img {
    width: 289px;
    max-width: 100%;
    display: inline-block;
    margin: 10px 0 10px 0;
}

section {
    padding: 35px 0 120px;
    min-height: 770px;
}

#wrapper h5 {
    font-size: 18px;
    color: #55c5d0;
    width: 100%;
    display: block;
    border-bottom: 1px solid #bdbfbf;
    padding: 0 0 10px 0;
    text-align: left;
    text-transform: none;
}

.form-new .form-group {
    margin-bottom: 5px;
}

#wrapper h5 small {
    color: #0672a0;
    font-size: inherit;
}

#wrapper h6 {
    text-align: justify;
    font-size: 24px;
    line-height: 28px;
    color: #4b4b4b;
    padding: 5px 0 3px 0;
    margin: 0px;
    /* font-family: 'oxygenregular'; */
    /* text-transform: capitalize; */
    font-weight: 700;
    margin-bottom: 35px;
}

#wrapper p, #wrapper li, #wrapper label {
    text-align: justify;
    font-size: 14px;
    color: #4b4b4b;
    padding: 10px 0 4px 0;
    margin: 0px;
    width: 96%;
    line-height: 26px;
    /* font-family: 'oxygenregular'; */
    font-weight: 400;
}

#wrapper .form-new label {
    font-weight: 700;
    margin-bottom: 2px;
    color: #555;
}

.btn-trial, .btn-trial:hover {
    background: #316b83;
    border-radius: 3px;
    padding: 8px 46px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    display: inline-block;
    margin: 1% 0 0 0;
    /* font-family: 'oxygenbold'; */
    box-shadow: 1px 1px 8px #000;
}

.outer-list ul, .outer-list-upper ul {
    padding: 12px;
    border: 2px solid #34495e;
    display: inline-block;
    width: 100%;
}

#wrapper .outer-list ul li, .outer-list-upper ul li {
    position: relative;
    padding-left: 25px;
    font-size: 15px;
}

.outer-list-upper ul li {
    list-style: none;
}

.outer-list li:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f058";
    margin-right: 8px;
    color: #34495e;
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 18px;
}

.form-new input.form-control {
    height: 38px;
}

.other-head span {
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.other-head small, .other-head span {
    color: #333;
}

#wrapper .other-head.text-right small {
    font-size: 13px;
}

.form-textarea {
    display: inline-block;
    width: 100%;
    margin-top: 35px;
}

.form-textarea textarea.form-control {
    min-height: 100px;
    resize: vertical;
}

#wrapper textarea.form-control, #wrapper input.form-control {
    border-radius: 0;
}

#wrapper textarea.form-control:focus, #wrapper input.form-control:focus,
#wrapper select.form-control:focus {
    outline: 0;
    border-color: #34495e;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
}

.input-group-addon {
    background-color: #34495e;
    color: #fff;
    min-width: 130px;
}

.popover-a {
    color: #bbb;
}

.popover-a:hover, .popover-a:focus {
    color: #e0e0e0;
}

div#wrapper h5 {
    display: inline-block;
    width: 100%;
}

.custom-table {
    margin-top: 25px;
}

.custom-table th {
    text-align: center;
    background-color: #e8e8e8;
    text-align: center;
}

table.custom-table > tbody > tr > td {
    padding: 0;
    border-color: transparent;
}

table.custom-table .form-control {
    height: 40px;
    border-radius: 0;
}

div div.pophover-html {
    border-radius: 0;
}

div div.pophover-html .head {
    background-color: #000;
}

div.popover {
    border-radius: 0 !important;
    border: 0;
    padding: 0;
    min-width: 140px;
}

.popover-title {
    background-color: #34495e;
    color: #fff;
    padding: 12px 10px;
}

.popover-content {
    padding: 8px 10px;
    color: #333;
}

footer {
    background-color: #34495e;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

footer a, footer a:hover, footer a:focus {
    color: #fff;
    text-decoration: none;
}

.table-outer {
    margin-top: 35px;
    display: inline-block;
    width: 100%;
}

#wrapper table.custom-table > tbody > tr > td {
    border-bottom: 1px solid #ddd !important;
}

#wrapper .custom-table label {
    display: inline-block;
    width: 100%;
    padding: 6px 10px;

    color: #555;
    font-size: 16px;
    font-weight: 700;
}

.page-cover {
    min-height: 700px;
}

.desc {
    display: none;
}

.other-head span.totGBP, .other-head span.totUSD {
    display: inherit;
}

.bluefont {
    font-size: 19px;
    color: #55c5d0;
}

.bluefont span {
    color: #0672a0;
    font-size: inherit;
}

.upper-menu {
    background: #3D4A5E;
    border: 1px solid #3D4A5E;
    border-left: none;
    border-right: none;
}

header ul {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 40px;
}

ul.right-align {
    justify-content: flex-end;

}

.upper-menu li {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
}

.upper-menu ul.right-align {
    margin-right: 15px;
}

.upper-menu li a {
    font-weight: bold;
    color: #fff;
}

.upper-menu li img {
    height: 20px;
    margin-right: 5px;
}

.down-menu {
    height: 100px;
    display: flex;
    align-items: center;
}

.down-menu li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

.down-menu li a {
    color: #525969;
    font-size: 18px;
    text-transform: capitalize;
}

.logo img {
    height: 80px;
    max-width: 100%;
}

.important {

}

.sign-up-form .input-group {
    display: block;
    margin-bottom: 20px;
}

.sign-up-form [type="checkbox"] {
    display: inline;
    width: auto;
    height: auto;
    margin-right: 10px;
}

[for="terms"] {
    display: inline-block;
}

.submit-holder {
    margin-top: 10px;

}

.submit-holder button {
    width: 100%;
}

#wrapper .perks {
    padding-left: 10px;
    padding-top: 4px;
}

#wrapper .perks li {
    position: relative;
}

#wrapper .perks li span {
    padding-left: 40px;

}

#wrapper .perks li:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f058";
    margin-right: 8px;
    color: #34495e;
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 18px;
}

.li {

}

.trouble {
    box-shadow: 0 0 4px red;
}

.account-creation h1, .account-creation h3,
.login-page h1, .login-page h3 {
    display: inline-block;
    width: auto;
    margin-bottom: 40px;
}

.forgot {
    margin-top: 10px;
}

#order-approving {
    width: 100%;
    min-width: 700px;
}

#order-approving td, #order-approving th {
    border: 1px solid gray;
    padding: 10px;
    background: #fff;
    text-align: center;
}

#order-approving th {
    background: #525969;
    color: #fff;
}

.li {

}

.template h1,
.template h2 {
    text-align: center;
}

.card-section {
    margin-top: 40px;
}

.card > div {
    border: 2px solid #34495e;
}

.card .card-body {
    border-top: none;
    border-bottom: none;
}

.card-head {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #525969;
    padding: 5px;
    color: #fff;
}

.card-head .up-row {
    font-size: 40px;
    font-weight: bold;
}

.card-head .down-row {
    font-size: 18px;
}

.card-body {
    background: #fff;
}

.card-body ul {
    border: none;
    border-bottom: 2px solid #34495e;
    width: 90%;
    margin: auto;
    display: block;
}

#card-section .card-body ul li {
    text-align: center;
    padding-left: 0;
    width: 100%;
}

#card-section p {
    margin-right: 0px;
    width: 100%;
}

.card-footer {
    background: #fff;
    text-align: center;
}

.price-holder {
    text-align: center;
    font-size: 40px;
    color: #525969;
    font-weight: bold;
}

.price-section p {
    text-align: center !important;
}

.price-section {
    padding-bottom: 5px;
}

.order-now {
    display: block;
    padding: 10px;
    background: #525969;
    color: #fff;
    font-weight: bold;
    transition: all .3s linear
}

.order-now:hover {
    color: #525969;
    background: #fff;
}

.popular .card-head {
    background: #fbd71d;
    transform: scale(1, 1.1);
    border-color: #fbd71d
}

.popular > div {
    border-color: #fbd71d;

}

.popular .outer-list li:before {
    color: #fbd71d
}

.popular .card-body ul {
    border-color: #fbd71d;

}

.popular .price-holder {
    color: #fbd71d

}

.popular .order-now {

    background: #fbd71d;
    color: #fff;
    transform: scale(1.01, 1.3);
    border: 2px solid #fbd71d;
}

.popular .order-now:hover {
    color: #fbd71d;
    background: #fff;
}

.non-visible {
    display: none;
}

.password-change input {
    width: 100%;

}

.login-page .password-change label {
    text-align: center !important;
}

#change-pass {
    margin-top: 20px;
}

#open-pass {
    margin-left: 10px;
    background: #525969;
    color: #fff;
    border: 1px solid #525969;
}

#order-approving td input {
    width: 100%;
    border: none;
    padding: 10px;
}

#order-approving.profile-table td {
    padding: 0px;
}

#save-changes, #send_new_pass {
    width: 100%;
    margin-top: 10px;
}

[name = bill_country] {
    width: 100%;
    padding: 10px;
    margin-top: 17px;
}

#order-approving [name = bill_country] {
    margin-top: 0;
    border: none;
}

.ul {
    top: 10px;
}

.change-view-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
}

#order-table .first_col {
    display: none;
}

#order-table.table-vision .first_col {
    display: table-cell;
    padding: 3px;
}

.first_col.transparent-font {
    color: transparent;
}

#order-table.table-vision .custom-table label {
    font-size: 14px;
    font-weight: normal;
    padding: 3px 5px;
    line-height: 24px;
    margin-bottom: 0;
}

#order-table.table-vision .form-control {
    height: 30px;
    padding: 3px 5px;
    border: none;
    border-radius: 0;
}

#order-table.table-vision .form-control:focus {
    box-shadow: none;
}

#order-table.table-vision .desc td:nth-child(2) {
    background: #fff;
}

#order-table.table-vision tr:first-child th {
    padding: 3px;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
}

#order-table .custom-table {
    min-width: 600px;
}

.ssmall,
.ssmall b {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.down-menu .navbar {
    width: 100%;
}

.down-menu .navbar-brand {
    height: auto;
    padding: 0px 15px;
    margin-top: 15px;
}

.down-menu .navbar-collapse {
    margin-top: 20px;
}

.down-menu .navbar-toggle {
    border: 1px solid #3d4a5e;
    margin-top: 30px;
}

.down-menu .navbar-toggle .icon-bar {
    background-color: #3d4a5e;
}

#wrapper p.approving-text {
    width: 100%;
    line-height: initial;
    margin-bottom: 20px;
    font-style: italic;
}

#order-approving {
    margin-bottom: 40px;
}

.table-responsive {
    position: relative;
}

#wrapper .table-responsive .total-price {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-size: 16px;
}

.modal-table {
    width: 100%;
}

.modal-table tbody tr th,
.modal-table tbody tr td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

button.order {
    border: 1px solid black;
    background-color: #3d4a5e;
    color: #fff;
    border-radius: 5px;
    padding: 4px 10px;
}

.order-modal .modal-content {
    padding: 10px;
}

.order-modal button.close {
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 9;
    color: black;
    opacity: 1;
    font-size: 36px;
    text-shadow: none;
}

.modal-table tbody > tr:first-child {
    background: #525969;
    color: #fff;
}

@media (min-width: 768px) {
    .hidd-sm {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .mobile-call {
        flex-direction: column;
        margin-left: 15px;
        height: auto;
        max-width: 180px;
        margin-left: calc(50% - 90px) !important;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .down-menu {
        height: auto;
        display: block;
    }

    .mobile-call li {
        margin: 3px 0;
    }

    .top-links {
        justify-content: space-between;
        margin-left: 15px;
    }

    .profile-table {
        min-width: auto !important;
    }

    .navbar-collapse .navbar-nav {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .upper-menu li img {
        height: 20px;
        margin-right: 15px;
        width: 30px;
    }

    .row-mobile {
        margin: 0 !important;
    }
}

/*
======== Modal vertical center ========
*/
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

#wrapper footer p, footer p {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/*
======== Page Order ========
*/

section.order {
    margin-left: 200px;
    margin-right: 200px;
}

div.container.order {
    border-radius: 10px;
    /*border: 1px solid #000000;*/
    margin: 30px;
    height: auto;
    background-color: white;
    width: 450px;
    padding: 40px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);

}

div.container.order img{
    width: 70px;
}

h2#order1{
    text-align: center ;
    font-size: 4em;
    font-weight: 600;
}
h2#order2{
    text-align: center ;
    color: #898a8c;
}

a.place_order {
    background-color: #ff9842;
    color: #fff;
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 15px;
    text-transform: capitalize;
    margin-top: 20px;
}

a.link_packages {
    margin-top: 50px;
}

button.place_order {
    background-color: #ff9842;
    color: #fff;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 15px;
    text-transform: capitalize;
    border: 0;
    outline: none;
}

div.border_for_show_options {
    background-color: white;
}

div.order {
    text-align: center;
}

div.order h2{
    font-weight: bold;
}


div.order ul li {
    text-align: center !important;
    color: #898a8c !important;
}

div.custom_order_input {
    padding-right: 0;
    padding-left: 0;
}

textarea.custom_order_input {
    resize: none;
    height: 150px;
}

img.custom_img_order {
    height: 320px;
    margin-top: 40px;
}



